# Base Environment Configurations
SECRET_KEY=your_secret_key_here
REDIS_HOST=redis
RABBITMQ_HOST=rabbitmq

# Databases URL overrides for individual microservices
AUTH_DATABASE_URL=postgresql://edura:edura@postgres:5432/auth_db
USER_DATABASE_URL=postgresql://edura:edura@postgres:5432/user_db
COURSE_DATABASE_URL=postgresql://edura:edura@postgres:5432/course_db
CONTENT_DATABASE_URL=postgresql://edura:edura@postgres:5432/content_db
ENROLLMENT_DATABASE_URL=postgresql://edura:edura@postgres:5432/enrollment_db
PAYMENT_DATABASE_URL=postgresql://edura:edura@postgres:5432/payment_db
ASSESSMENT_DATABASE_URL=postgresql://edura:edura@postgres:5432/assessment_db
PROGRESS_DATABASE_URL=postgresql://edura:edura@postgres:5432/progress_db
NOTIFICATION_DATABASE_URL=postgresql://edura:edura@postgres:5432/notification_db
ANALYTICS_DATABASE_URL=postgresql://edura:edura@postgres:5432/analytics_db
ADMIN_DATABASE_URL=postgresql://edura:edura@postgres:5432/admin_db

# Third-party Integrations
ASGARDEO_CLIENT_ID=
ASGARDEO_CLIENT_SECRET=
ASGARDEO_TENANT_URL=

PAYHERE_MERCHANT_ID=
PAYHERE_MERCHANT_SECRET=

CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=

GEMINI_API_KEY=
